MongoDB_URI= # Put the url to the MongoDb database here
GUILD_ID= # Put the unique Discord ID of the guild here
TOKEN= # Put the unique bot token here
APPLICATION_ID= # Put the unique Discord ID of the application
CHANNEL_BOT_PRIVATE= # Put the unique Discord ID of your DM channel with the bot
CHANNEL_BOT= # Put the unique Discord ID of the bot channel here
CHANNEL_BOT_LOGS= # Put the unique Discord ID of the bot logs channel here
CHANNEL_GENERAL= # Put the unique Discord ID of the general channel here
CHANNEL_INSCRIPTION= # Put the unique Discord ID of the signin channel here
CHANNEL_ALLIANCE= # Put the unique Discord ID of the alliance channel here
CHANNEL_VOTE= # Put the unique Discord ID of the vote channel here
CHANNEL_RESULTATS= # Put the unique Discord ID of the results channel here
CHANNEL_ID_HELP_ALLIANCE= # Put the unique Discord ID of the alliance channel here
CHANNEL_ID_ANNONCES= # Put the unique Discord ID of the annonces channel here
CHANNEL_RULES= # Put the unique Discord ID of the rules channel here
CATEGORIE_ALLIANCES= # Put the unique Discord ID of alliances category here
USER_ID_ADMIN= # Put the unique Discord ID of the admin account here
BOT_ID= # Put the unique Discord ID of the bot here
EMOJI_ID_COLLIER= # Put the unique Discord ID of the immunity necklace emoji here
HIDDEN_VOTE_PROBABILITY= # Put the wanted probability if a hidden vote table in pdf file here (from 0 to 1)